/* 
** There are tree types of adaptive design here:
**
**  * mobile portrait	- up to 480px width, 		// CONST! //
**						  one-column layout;
**  * mobile landscape	- up to 800px width, 		// CONST! //
**						  with sidebared rooms;
**  * desktop layout	- any widths exept above, 
**						  standard lyaout.
**
** Note: Values marked as CONST are used in other 
** modules, you should do not change them.
*/

/*****************************************************/
/*******************  MAIN BLOCKS  *******************/
/*****************************************************/

/* Wrapper block for the whole Chat */

#ChatWrapper {
	width: 100%; 
	height: 100%;
	background-color: #aaa;
	font: 11pt sans-serif;
}
@media screen and (max-width: 800px) {
	#ChatWrapper { 
		-webkit-text-size-adjust: none;
		font-size: 104%; 
	}
}
@media screen and (max-width: 480px) {
	#ChatWrapper { 
		font-size: 108%;
	}
}

/* Treat the all basic elements as blocks */

#MainBlock, #MessageList, #InputArea, 
#SideBlock, #AccountMenu, #UserList, 
#RoomList, #Logon {
	display: block;
}

/* MainBlock: MessageList, InputArea, RoomList */

#MainBlock {
	width: 80%;										/* CONST! */
	height: 100%;
	position: relative;
	float: right;
	background-color: #f99;
}
@media screen and (max-width: 480px) {
	#MainBlock {
		width: 100%;
	}
}

#MessageList {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 100px;
	overflow: auto;
	background-color: #aae;
}
@media screen and (max-width: 800px) {
	#MessageList {
		width: 80%;
		bottom: 90px;
	}
}
@media screen and (max-width: 480px) {
	#MessageList {
		width: 100%;
	}
}

#InputArea {
	width: 100%;
	height: 90px;
	position: absolute;
	overflow: hidden;
	bottom: 30px;
	background-color: #eae;
}
@media screen and (max-width: 800px) {
	#InputArea {
		width: 80%;
		bottom: 0px;
	}
}
@media screen and (max-width: 480px) {
	#InputArea {
		width: 100%;
		bottom: 40px;
	}
}

#RoomList {
	width: 100%;
	height: 30px;
	position: absolute;
	overflow: hidden;
	bottom: 0px;
	background-color: #eaa;
}
@media screen and (max-width: 800px) {
	#RoomList {
		width: 20%;
		height: 100%;
		right: 0px;
	}
}
@media screen and (max-width: 480px) {
	#RoomList {
		width: 100%;
		height: 40px;
	}
}

/* SideBlock: AccountMenu, UserList */

#SideBlock {
	width: 20%;										/* CONST! */
	height: 100%;
	position: relative;								/* CONST! */
	overflow: hidden;
	float: left;	
	background-color: #99f;
	z-index: 20;
}
@media screen and (max-width: 480px) {
	#SideBlock {
		width: 46%;
		position: absolute;							/* CONST! */
		opacity: 0.8;
	}
}

#AccountMenu {
	width: 100%;
	height: 30px;
	position: absolute;
	overflow: hidden;
	top: 0px;
	background-color: #eaa;
}
@media screen and (max-width: 480px) {
	#AccountMenu {
		height: 40px;
	}
}

#UserList {
	width: 100%;
	position: absolute;
	top: 30px;
	bottom: 0px;
	overflow: auto;
	background-color: #aea;
	/* remove h-scrollbar */
	word-wrap: break-word;
}
@media screen and (max-width: 480px) {
	#UserList {
		top: 40px;
	}
}

/* Logon */

#Logon {
	width: 300px;
	height: 180px;
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: #bbb;
	opacity: 0.7;
	border: 1px solid #888;
	z-index: 30;
}
@media screen and (max-width: 800px) {
	#Logon {
		width: 340px;
		height: 200px;
	}
}
@media screen and (max-width: 480px) {
	#Logon {
		width: 80%;
		height: 70%;
		top: 15%;
		right: 10%;
		bottom: 15%;
		left: 10%;
	}
}

/*****************************************************/
/******************  ACCOUNT MENU  *******************/
/*****************************************************/

#AccountBtn {
	height: 100%;
	width: 100%;
	display: block;
	float: left;
	overflow: hidden;
	background-image: url("../img/defuser.png"); 	/* CONST! */
	background-size: auto 100%; 
	background-repeat: no-repeat;
}

#AccountBtn span {
	display: block;
	margin-left: 35px;
	margin-top: 8px;
	color: #333;
}
@media screen and (max-width: 800px) {
	#AccountBtn span {
		margin-top: 6px;
	}
}
@media screen and (max-width: 480px) {
	#AccountBtn span {
		margin-left: 45px;
		margin-top: 14px;
	}
}

#AccMenuBtn {
	height: 100%;
	width: 30px;
	display: none;
	position: absolute;
	right: 0px;
	background-image: url("../img/leftarrow.png"); 	/* CONST! */
	background-size: 100% auto;
	background-color: inherit;
}
@media screen and (max-width: 800px) {
	#AccMenuBtn {
		display: block;
	}
}
@media screen and (max-width: 480px) {
	#AccMenuBtn {
		display: block;
		width: 40px;
	}
}

/* dummy button for SideBlock slider */
#AddMenuBtn {  
	height: 30px;
	width: 30px;
	display: none;
	position: absolute;
	left: 0px;
	background-image: url("../img/rightarrow.png");	/* CONST! */
	background-size: 100% auto;
	opacity: 0.6;
	z-index: 10;
}
@media screen and (max-width: 480px) {
	#AddMenuBtn {
		height: 40px;
		width: 40px;
	}
}







/* Elastic embeded images and video */

img {
	max-width: 90%;
	height: auto;
	width: auto\9; /* ie8 */
}

.video embed, .video object, .video iframe {
	width: 90%;
	height: auto;
}
