
.UserList {
	width: 100%;
	height: auto;
	margin-top: 2px;
}

.UserBlock {
	width: 100%;
	height: 30px;
	padding: 2px 0px;
	font-size: 10pt;
	color: #444;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	background-color: #eee;
	border-bottom: solid 1px #bbb;
}
@media screen and (max-width: 480px) {
	.UserBlock {
		height: 40px;
		font-size: 11pt;
	}
}

.Status, .StatusOnline, .StatusAway, .StatusOffline {
	width: 6px;
	height: 30px;
	display: block;
	float: left;
}
@media screen and (max-width: 480px) {
	.Status, .StatusOnline, .StatusAway, .StatusOffline {
		height: 40px;
	}
}

.Status	{ 
	background-color: gray;
	background: linear-gradient(to right, gray, #eee);
}

.StatusOnline { 
	background-color: green;
	background: linear-gradient(to right, green, #eee);
}

.StatusAway {
	background-color: brown;
	background: linear-gradient(to right, brown, #eee);
}

.StatusOffline {
	background-color: gray;
	background: linear-gradient(to right, gray, #eee);
}

.UserAvatar, .Retouch, .UserAction {
	width: 30px;
	height: 30px;
}
@media screen and (max-width: 480px) {
	.UserAvatar, .Retouch, .UserAction {
		width: 40px;
		height: 40px;
	}
}

.UserAvatar {
	background-image: url("../img/defuser.svg"); 	/* CONST! */
	background-size: auto 100%; 
	background-repeat: no-repeat;
	display: block;
	float: left;
}

.UserName, .UserStatus {
	padding-left: 3px;
}
@media screen and (max-width: 480px) {
	.UserName, .UserStatus {
		padding-left: 4px;
	}
}

@media screen and (max-width: 480px) {
	.UserName {
		vertical-align: -4px;
	}
}

.UserStatus { 
	font-size: 8pt;
	font-style: italic;
	vertical-align: top;
}
@media screen and (max-width: 480px) {
	.UserStatus {
		font-size: 9pt;	
	}
}

.Retouch, .UserAction {
	display: block;
	position: absolute;
	top: 2px;
	right: 0px;
}

.Retouch {
	background: linear-gradient(to left, #bbb, #eee);
}

.UserAction {
	background-image: url("../img/adduser.svg"); 	/* CONST! */
	background-size: auto 100%; 
	background-repeat: no-repeat;
}

#ScrollUserlist { 
	width: 30px;
	height: 30px;
  	left: 6px; 
	bottom: 2px; 
	padding: 0; 
	background-image: url("../img/uparrow.svg"); 	/* CONST! */
	background-size: auto 100%; 
	background-repeat: no-repeat;
	position: fixed; 
	opacity: 0.5; 
	cursor: pointer;
	display: none;
}	
@media screen and (max-width: 480px) {
	#ScrollUserlist { 
		width: 40px;
		height: 40px;
	}
}

/*
<div id="GeneralRoom" class="UserList">
	<div class="UserBlock">
		<div class="Status"> </div>
		<div class="UserAvatar"> </div>
			<span class="UserName">UserName</span><br>
			<span class="UserStatus">Some words about user</span>
		<div class="UserAction">. </div>
	</div>

</div> <!-- general room -->
*/
