##
##  Set 'AllowOverride' option to 'All' in your 'httpd.conf'
##


# disable directory viewing
Options 			-Indexes
# main page index file
DirectoryIndex 		index.html
# allow to treat html docs as php
AddHandler 			application/x-httpd-php .php .html .htm